# byte-compiled
__pycache__/
*.py[cod]

# C extensions
*.so

# distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# installer logs
pip-log.txt
pip-delete-this-directory.txt

# unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# translations
*.mo
*.pot

# sphinx documentation
docs/_build/

# jupyter notebook
.ipynb_checkpoints

# ipython
profile_default/
ipython_config.py

# pep 582
__pypackages__/

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# spyder project settings
.spyderproject
.spyproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff stuff:
.ruff_cache/

# pypi
.pypirc

# vim
*.swp

# emacs
*~

# pycharm
.idea/

# vscode
.vscode/

